---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">
      Über uns
    </h2>

    <p>
      Wir sind nur ein kleines 4-köpfiges Studententeam, was diese Website für unsere liebe Informatklehrerin gemacht haben.
    </p>
    <p>
      Wir hoffen es gefällt ihnen.
      <br>
      <br>
    </p>
    <p>
      Hier können sie weiter <i>erkunden!</i>
    </p>
    <a href="/" class="btn">Weiter erkunden! <i class="bi-arrow-right"></i></a>
  </Wrapper>
</Layout>