---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">
      Über uns
    </h2>

    <p>
      Wir sind nur ein kleine 4-köpfige Studentengruppe, welches diese Website für unsere liebe Informatklehrerin gemacht hat.
    </p>
    <p>
      Wir hoffen es gefällt Ihnen.
      <br>
      <br>
      Viele Grüße,<br>
    </p>
    <p class="names">
      Denis Zahirovic<br>
      Mohamed Ashraf Moustafa Kamal Mahmout Saeid<br>
      Oliver Renz<br>
      Sahib Singh
      <br>
      <br>
    </p>
    <p>
      Hier können Sie weiter <i>erkunden!</i>
    </p>
    <a href="/" class="btn">Weiter erkunden! <i class="bi-arrow-right"></i></a>
  </Wrapper>
</Layout>

<style>
.names {
  color: var(--accent);
  line-height: 1.2;
}
</style>