---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">Bosnien</h2>

    <h3 class="heading line" id="stari-most" data-title="Stari most">Stari most</h3>
    <img src="/Stari most.jpeg" alt="Stari most in Mostar">
    <p><b>Stari most</b> („Alte Brücke“) ist das namensgebende Wahrzeichen der Stadt Mostar in Bosnien-Herzegowina. Die Brücke überspannt die Neretva etwas oberhalb der Mündung der Radobolja und verbindet den mehr muslimisch geprägten Ostteil mit dem stärker katholisch geprägten Westteil der Stadt. Mit einer lichten Weite von 28,7 Meter und 19 Meter Höhe (im Scheitelpunkt über der Neretva) war sie zur Zeit ihrer Erbauung im Jahr 1566 ein Meisterwerk der Ingenieurbaukunst.
    </p>
    <br>
    <h3 class="heading">Stari most als Wappenfigur von Mostar</h3>
    <p>
      <img style="float: right; padding: .5rem 1rem;" src="/wappenM.png" alt="Wappen der Stadt Mostar">
      Die Brücke gilt seit Jahrhunderten als die symbolische Brücke zwischen Ost und West. Sie erscheint als prägende Figur auf dem Wappen Mostars. Die Brücke wurde 1993 von kroatischen Truppen im Bosnienkrieg zerstört. 2004 wurde das Wahrzeichen Mostars mit internationaler Hilfe wieder vollständig aufgebaut. 
    </p>
    <p>
      Die Brücke wurde 1556 bis 1566 von dem osmanischen Architekten Mimar Hayreddin im Auftrag des osmanischen Sultans Süleyman I. als Einbogenbrücke erbaut. Er war Schüler des bedeutendsten osmanischen Architekten Mimar Sinan. Einer unbelegten Legende zufolge testete Hajrudin vor dem Bau der eigentlichen heute als „Stari Most“ bekannten Brücke das neue Konzept des Brückenbaus in kleinerem Maßstab. Dazu wurde in der Nähe des eigentlichen Standortes eine baugleiche Miniatur errichtet, die heute noch existiert. Bis dahin war der Architekt nur durch den Bau von Moscheen bekannt geworden. Diese Miniatur trägt den Namen Kriva Ćuprija und überspannt den Fluss Radobolja.
    </p>
    <!-- <h4>Historische Informationen</h4>
    <p>Im Krieg in Bosnien und Herzegowina wurde die Brücke am 8. November 1993 beschädigt und am 9. November gegen 10.00 Uhr nach mehrstündigem Beschuss der kroatischen Armee zerstört.
    </p>
    <p>Nach Meinung der Anklage des Internationalen Strafgerichtshofs für das ehemalige Jugoslawien (ICTY) im Fall Prlic et al. wurde die Brücke durch den Kroatischen Verteidigungsrat gezielt zerstört. 
    Im Mai 2013 verurteilte der Strafgerichtshof sechs Verantwortliche der Kroatischen Republik Herceg-Bosna wegen schwerer Kriegsverbrechen und Verbrechen gegen die Menschlichkeit, aber auch wegen Zerstörung der Brücke erstinstanzlich zu langjährigen Haftstrafen.
    </p>
    <p>Nach dem Ende des Bosnienkrieges wurde zunächst eine Behelfsbrücke in Form einer Drahtseilhängekonstruktion errichtet. Sie blieb bis zum eigentlichen Beginn des originalgetreuen Wiederaufbaus der Brücke Stari Most bestehen. Dieser begann bereits im Jahre 1995 mit Unterstützung der UNESCO, der Weltbank und der Türkei. Er kostete etwa 15 Millionen Euro. Den Wiederaufbau der Brücke übernahm die türkische Firma ER-BU. Dabei wurden, soweit (wenige) noch vorhanden und nutzbar, die alten Steine wiederverwendet und fehlende aus demselben Steinbruch wie 1566 ersetzt. 
    <br>
    <p>Insgesamt sollen nun 1088 Steinquader verbaut worden sein. Die Errichtung des Bogens erfolgte ab Sommer 2002, offizielle Wiedereröffnung der Brücke fand unter Anwesenheit von Vertretern aus 60 Staaten am 23. Juli 2004 statt. Ehemals wurden die Kalksteinblöcke mit Klammern aus Stahl verbunden, neu wurde für dieselbe (versteckte) Verbindungstechnik nichtrostender Stahl eingesetzt. Damals wie heute wurden die Metallstäbe mit Blei in die ins Gestein gebohrten Löcher eingegossen. Der Baumeister der ersten Brücke hatte die Pläne vernichtet.</p> -->

    <h3 class="heading" id="bascarsija">
      Baščaršija
    </h3>

    <img src="/Baščaršija.jpg" alt="Abbildung von Baščaršija">

    <p>Die Baščaršija ist ein Basar und das historische Stadtzentrum der bosnischen Hauptstadt Sarajevo. Sie wurde im 15. Jahrhundert angelegt, als Isa-Beg Ishaković die osmanische Stadt unterhalb der Siedlung Vratnik gründete. Das Wort Baščaršija stammt aus dem türkischen. Baš bedeutet so viel wie „Haupt“ oder „primär“, während čaršija das türkische Wort für Basar oder „Markt“ ist. Baščaršija ist offiziell nur der Name des zentralen Platzes der osmanischen Altstadt, wird aber umgangssprachlich für das gesamte osmanische Marktviertel verwendet.</p>

    <p>Die Baščaršija liegt nördlich des Flusses Miljacka und gehört heute zur Stadtgemeinde Stari Grad. In der Baščaršija befinden sich viele wichtige historische Bauwerke, wie zum Beispiel die Gazi-Husrev-Beg-Moschee oder die Sahat Kula (Uhrturm). Heutzutage ist die Baščaršija die Hauptattraktion für Touristen in Sarajevo.</p>

    <h3 class="heading" id="gradina-u-srebreniku">
      Gradina u srebreniku
    </h3>

    <img src="/gradina-u-srebreniku.jpg" alt="Abbildung von Gradina u srebreniku">

    <p>Die Burg Srebrenik befindet sich oberhalb der gleichnamigen Stadt im Tal eines kleinen Flusses namens Tinja, nur 36 km von der Stadt Tuzla entfernt. Dieses Gebäude, das auch als Gradina Festung bekannt ist und sich auf dem einsamen Felsen befindet, ist perfekt mit ihm verschmolzen und sieht aus, als wäre es daraus gewachsen. Die gesamte Konstruktion ist in einem hervorragenden Zustand. Es besteht aus einem Komplex mit vier Türmen und einer Burg sowie 1,5 m dicken Mauern. Die isolierte Lage, in die nur die Holzbrücke führt, die den Felsen mit den umliegenden Hügeln verbindet, machte die Burg Srebrenik zu einem fast unüberwindlichen Gebäude. Im Mittelalter war dieses Gebiet ein Schlachtfeld für viele Kämpfe zwischen Bosnien und Ungarn und ab dem 15. Jahrhundert auch für das Osmanische Reich.</p>
  </Wrapper>
</Layout>