---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">
      Ägypten
    </h2>

    <h3 class="heading line" id="abu-simbel" data-title="Tempel von Abu Simbel">
      Tempel von Abu Simbel
    </h3>

    <img src="/abu-simbel.jpg" alt="Abbildung vom Tempel von Abu Simbel">
  
    <p>
      Als sich der Schweizer Orientforscher Johann Ludwig Burckhardt am 22. März 1813 in <b>Abu Simbel</b> von einem Einheimischen zu einem Tempel führen ließ, entdeckte er durch Zufall ein weiteres Baudenkmal. Neben dem Felsentempel erstreckte sich ein weitaus größerer Tempel, der jedoch komplett von Sand bedeckt war.
    </p>

    <h3 class="heading" id="pyramids">
      Pyramiden von Gizeh
    </h3>

    <img src="/pyramids-of-giza.jpg" alt="Abbildung von den Pyramiden von Gizeh">

    <p>Vieles ist erstaunlich: Die Steinblöcke der Pyramide sind auf 0,2 Millimeter genau geschlagen. Gerade mal eine Rasierklinge würde zwischen die Steinreihen passen. Die Fundamente der Pyramide weichen nur maximal 16 Millimeter von der Horizontalen ab und das bei einer unteren Kantenlänge von rund 230 Metern.</p>

    <h3 class="heading" id="sphinx">
      Große Sphinx von Gizeh
    </h3>
    <img src="/grand-sphinx-egypte-vovik_mar-AdobeStock.webp" alt="Abbildung von der Große Sphinx von Gizeh">
    <p>
      Die meisten als Sphinx bezeichneten Statuen stellen einen König oder Pharao als Sonnengott, Horus oder auch andere ägyptische Götter dar, andere fungierten in liegender Form als Wächterfiguren vor Tempeleingängen. Ägyptische Attribute sind Sonnenscheibe, Pektorale, Uräusschlange oder Doppelkrone. Tatsächlich wurde die Nase aber von einem Scheich namens Mohammed Saim el-Dar im Jahre 1378 abgeschlagen.
    </p>

    <h3 class="heading" id="valley-of-the-kings">Tal der Könige</h3>

    <img src="/Valley of The Kings.png" alt="Abbildung vom Tal der Könige">

    <p>
      Das Tal der Könige war eine Nekropole im alten Ägypten, in der bis heute 63 Gräber und Gruben gefunden wurden. Lange Zeit haben die Ägypter ihre Pharaonen in den Pyramiden bestattet. Doch oft plünderten Grabräuber die kostbaren Schätze und Grabbeigaben.
    </p>
  </Wrapper>
</Layout>