---
import AttractionElement from "../components/AttractionElement.astro";
import AttractionList from "../layouts/AttractionList.astro";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";
---

<Layout>
  <Wrapper>
    <h2 class="heading">Explore</h2>
    <h3 class="subheading">Finde deine lieblings Reiseziele an einer Stelle!</h3>
  
    <AttractionList>
      <AttractionElement
        title="Gradina u srebreniku"
        country="Bosnien"
        href="/bosnia#gradina-u-srebreniku"
        imgsrc="/gradina-u-srebreniku.jpg"
        span="true"
      />
      <AttractionElement
        title="Bangkok"
        country="Thailand"
        href="/thailand#bangkok"
        imgsrc="/thailand-bangkok-stadt-nacht-0eb68346f1.jpg"
      />
      <AttractionElement
        title="Tal der Könige"
        country="Ägypten"
        href="/egypt#valley-of-the-kings"
        imgsrc="/Valley of The Kings.png"
      />
      <AttractionElement
        title="Taj Mmahal"
        country="Indien"
        href="/india#taj-mahal"
        imgsrc="/tajmahal.jpg"
        span="true"
      />
      <AttractionElement
        title="Sphinx"
        country="Ägypten"
        href="/egypt#sphinx"
        imgsrc="/grand-sphinx-egypte-vovik_mar-AdobeStock.webp"
      />
      <AttractionElement
        title="Lotustempel"
        country="Indien"
        href="/egypt#lotus-temple"
        imgsrc="/photo-wallpaper-the-lotus-temple_big01.jpg"
      />
      <AttractionElement
        title="Maya Bay"
        country="Thailand"
        href="/thailand#maya-bay"
        imgsrc="/How-to-get-to-Maya-Bay-Thailand.jpg"
        span="true"
      />
      <AttractionElement
        title="Stari Most"
        country="Bosnien"
        href="/bosnia#stari-most"
        imgsrc="/Stari most.jpeg"
      />
      <AttractionElement
        title="Tempel von Abu Simbel"
        country="Ägypten"
        href="/egypt#abu-simbel"
        imgsrc="/abu-simbel.jpg"
      />
      <AttractionElement
        title="Pyramiden von Gizeh"
        country="Ägypten"
        href="/egypt#pyramids"
        imgsrc="/pyramids-of-giza.jpg"
        span="true"
      />
      <AttractionElement
        title="Baščaršija"
        country="Bosnien"
        href="/bosnia#bascarsija"
        imgsrc="/Baščaršija.jpg"
      />
      <AttractionElement
        title="Goldener Tempel"
        country="Indien"
        href="/india#golden-temple"
        imgsrc="/golden temple.jpg"
      />
    </AttractionList>
  </Wrapper>
</Layout>