---
import Layout from '../layouts/Layout.astro'
import Hero from '../layouts/Hero.astro'
import Wrapper from '../layouts/Wrapper.astro';
---

<Layout>
  <Hero />

  <Wrapper>
    <h2 class="heading">Finde Orte!</h2>
    <p>
      Die Welt ist mit Attraktionen gefüllt. Also verpasse nicht die Gelegenheit!
      <br>
      <br>
      <br>
      <br>
    </p>

    <h3 class="heading line" data-title="Versuche Modern">Versuche Modern</h3>
    <img src="photo-wallpaper-the-lotus-temple_big01.jpg" alt="The Lotus Temple in Indien">
    <p class="secondary">Lotus Temple in Indien</p>
    <p>
      <a href="/india" class="btn">
        Indien erkunden <i class="bi-arrow-right"/>
      </a>
      <br>
      <br>
      <br>
    </p>

    <h3 class="heading line" data-title="Oder Antik">Oder Antik</h3>
    <img src="Valley of The Kings.png" alt="Tal der Könige in Ägypten">
    <p class="secondary">Tal der Könige in Ägypten</p>
    <p>
      <a href="/egypt" class="btn">
        Ägypten erkunden <i class="bi-arrow-right"/>
      </a>
      <br>
      <br>
      <br>
    </p>

    <h3 class="heading line" data-title="Vielleicht Stadtleben,">Vielleicht Stadtleben,</h3>
    <img src="thailand-bangkok-stadt-nacht-0eb68346f1.jpg" alt="Bangkok in Thailand">
    <p class="secondary">Bangkok in Thailand</p>
    <p>
      <a href="/thailand" class="btn">
        Thailand erkunden <i class="bi-arrow-right"/>
      </a>
      <br>
      <br>
      <br>
    </p>

    <h3 class="heading line" data-title="oder lieber ländlich?">oder lieber ländlich?</h3>
    <img src="bosnia-1111419_1920.png" alt="Stari most in Bosnien">
    <p class="secondary">Stari Most in Bosnien</p>
    <p>
      <a href="/bosnia" class="btn">
        Bosnien erkunden <i class="bi-arrow-right"/>
      </a>
      <br>
      <br>
      <br>
    </p>
  </Wrapper>
</Layout>

<style lang="scss">
</style>