---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">
      Indien
    </h2>
    
    <h3 data-title="Lotustempel" id="lotustemple" class="heading line">Lotustempel</h3>
    <p>
      Der Lotus-Tempel ist eines der berühmtesten und beliebtesten Gebäude in ganz Indien. Allerdings wurde er erst im Jahr 1986 eingeweiht. Der Tempel liegt südlich von Neu-Delhi und hat ein einzigartiges und beeindruckendes Design in Form einer Lotusblüte, dem indischen Symbol für Frieden, Reinheit, Liebe und Unsterblichkeit.
    </p>
    <img src="/photo-wallpaper-the-lotus-temple_big01.jpg" alt="Abbildung des Lotustempels">
    <p>Der Lotustempel ist ein sogenannter Bahai-Tempel. Bahai-Tempel haben auch die Bezeichnung Haus der Andacht oder auf Englisch House of Worship. In diesen Tempel werden die heiligen Schriften aller Weltreligionen gesammelt und jeder ist hier willkommen um zu beten oder zu meditieren.</p>
    <p>Aus diesem Grund hat der kanadische Architekt Fariborz Sahba die Lotusblume als Design für den Tempel gewählt, da sie ein allgegenwärtiges Symbol der Geistlichkeit ist, welche auch von anderen Religionen aufgenommen wurde.</p>
    <p>Der Lotus-Tempel besteht aus 3 Reihen von jeweils 9 Blütenblättern. Die ersten zwei Reihen zeigen nach oben und erreichen bei 34 m ihren höchsten Punkt.</p>

    <h3 class="heading" id="taj-mahal">
      Taj Mahal
    </h3>

    <img src="/tajmahal.jpg" alt="Abbildung vom Taj Mahal">

    <p>
      Der Taj Mahal, deutsch transkribiert Tadsch Mahal, ist ein im Jahre 1648 fertiggestelltes Mausoleum (Grabgebäude), das sich auf einer 96 Meter × 96 Meter großen Plattform (jagati) am Südufer des Flusses Yamuna am Stadtrand von Agra im indischen Bundesstaat Uttar Pradesh erhebt. Der Gebäudekern besteht ebenso wie die Kuppel und die Minarette aus vor Ort gebrannten Ziegelsteinen, die außen wie innen mit weißen Marmorplatten verkleidet sind. Der muslimische Großmogul Shah Jahan ließ den Bau zum Gedenken an seine im Jahre 1631 verstorbene große Liebe Mumtaz Mahal (Arjumand Bano Begum, später auch Mumtaz-uz-Zamani) erbauen. Da das Fremdwort hier für ein Gebäude, ein Grabmal, also etwas Sächliches steht, wird im Deutschen oft auch „das Taj Mahal“ gesagt.
    </p>
    
    <h3 data-title="Harminder Sahib/ Goldener Tempel" id="golden-temple" class="heading">Harminder Sahib/ Goldener Tempel</h3>
    <img src="/golden temple.jpg" alt="Eine Abbildng des goldenen Tempels">
    <p>Der Harmandir Sahib, im Deutschen oft Goldener Tempel genannt  genannt, ist das höchste Heiligtum der Sikhs in Amritsar im indischen Bundesstaat Punjab. Erbaut wurde er vom fünften Guru der Sikhs, Arjan Dev, im 16. Jahrhundert und erfuhr weiteren Ausbau (eine goldene Kuppel) unter Ranjit Singh im 19. Jahrhundert. Der Tempel ist von einer Palastanlage umgeben die auf allen Seiten je ein Tor hat. Dies soll die Offenheit der Sikhs gegenüber allen Menschen und Religionen symbolisieren. Tagsüber werden Verse aus dem heiligen Buch Guru Granth Sahib rezitiert, die von Musik begleitet werden und über Lautsprecher in der ganzen Tempelanlage zu hören sind. Dem Glauben der Sikhs zufolge kann, wer im heiligen Wasser badet oder davon trinkt, sein persönliches Karma verbessern.</p>
  </Wrapper>
</Layout>