---
import Layout from "../layouts/Layout.astro"
import Wrapper from "../layouts/Wrapper.astro";

---

<Layout>
  <Wrapper>
    <h2 class="heading">
      Thailand
    </h2>

    <h3 class="heading line" id="bangkok" data-title="Bangkok">
      Bangkok
    </h3>

    <img src="/thailand-bangkok-stadt-nacht-0eb68346f1.jpg" alt="Abbildung von Bangkok bei Nacht">
    <p>
      Die Stadt ist das politische, wirtschaftliche und kulturelle Zentrum Thailands mit Universitäten, Hochschulen, Palästen und über 400 Wats (buddhistische Tempelanlagen und Klöster) sowie wichtigster Verkehrsknotenpunkt des Landes. Mit mehr als 17 Millionen ausländischen Touristen war Bangkok im Jahr 2013 die meistbesuchte Stadt der Welt, bevor sie 2014 wieder von London abgelöst wurde und seither auf Platz 2 rangiert. Seit 2016 steht Bangkok mit über 20 Millionen Touristen jährlich auf Platz 1 der meistbesuchten Städte der Welt.
    </p>

    <h3 class="heading" id="maya-bay">
      Maya Bay
    </h3>
    <img src="How-to-get-to-Maya-Bay-Thailand.jpg" alt="Abbildung von Maya Bay">
    <p>
      Die Maya Bay auf Koh Phi Phi Leh. Wahrscheinlich besser bekannt als „The Beach“, denn der gleichnamige Film mit Leonardo DiCaprio machte diesen Ort weltberühmt. Unterkünfte gibt es auf der größeren Insel Koh Phi Phi Don reichlich. Von Budget-freundlichen Hostels zu 5 Sterne Hotels mit Luxus wird alles geboten. Du kannst direkt am Strand, in den Bergen oder im Ort wohnen. Weit ist auf der kleinen Insel jedoch nichts.
      Zu Maya Bay gelangst du per kleinem Boot. Die Tickets kannst du am Pier kaufen.
    </p>
  </Wrapper>
</Layout>